$CTA-text-color: hsl(356, 100%, 66%);
$CTA-hover-background-color: hsl(355, 100%, 74%);
$headings-color: hsl(208, 49%, 24%);
$text-color: hsl(0, 0%, 100%);
$footer-text-color: hsl(240, 2%, 79%);
$body-copy-color: hsl(207, 13%, 34%);
$footer-background-color: hsl(240, 10%, 16%);
$main-transtion: 0.3s;
$section-padding: 100px;
