@import "./Sass/varibals";
@import "./Sass/global-rules";
@import "./Sass/components";
@import "./Sass/mixins";
// start the header
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 40px 0;
  @include break-points(mobile) {
    padding: 30px 10px;
  }
  nav {
    display: flex;
    align-items: center;
    > .mobile-drop-down {
      > img {
        display: none;
        @include break-points(mobile) {
          display: block;
        }
      }
      > ul {
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 7px;
        height: 500px;
        width: 80%;
        padding: 20px;
        text-align: center;
        box-shadow: 2px 10px 20px rgb(185, 185, 185);
        > li {
          color: $headings-color;
          font-weight: 500;
          padding: 15px 0;
          &.drop {
            > ul {
              margin-top: 20px;
              border-radius: 7px;
              background-color: #efeff1;
              padding: 20px;
              text-align: center;
              > li {
                color: $headings-color;
                padding: 10px 0;
              }
            }
          }
        }
        hr {
          margin: 15px 0;
          background-color: #f5f5f5;
        }
        .buttons {
          display: flex;
          flex-direction: column;
          > button {
            font-size: 18px;
          }
          button:first-child {
            color: $headings-color;
            background-color: transparent;
          }
          button:last-child {
            color: $text-color;
            background-image: linear-gradient(
              to right,
              hsl(13, 100%, 72%),
              hsl(353, 100%, 62%)
            );
          }
        }
      }
    }
    > ul.links {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 40px;
      > li {
        color: $text-color;
        margin: 0 10px;
        padding: 5px;
        font: {
          weight: 500;
          size: 19px;
        }
        &.drop-down-btn {
          position: relative;
          > ul {
            position: absolute;
            background-color: white;
            padding: 20px;
            margin-top: 15px;
            border-radius: 7px;
            width: 200px;
            > li {
              color: black;
              transition: $main-transtion;
              cursor: pointer;
              padding: 10px 0;
              &:hover {
                font-weight: 700;
                color: $headings-color;
                margin-left: 5px;
              }
            }
          }
        }
        @include break-points(small) {
          > img {
            display: none;
          }
        }
      }
      @include break-points(mobile) {
        display: none;
      }
    }
    .login-buttons {
      button:first-child {
        background-color: transparent;
        color: $text-color;
      }
      button:last-child {
        background-color: white;
        color: $CTA-text-color;
      }
      @include break-points(mobile) {
        display: none;
      }
    }
    @include break-points(mobile) {
      justify-content: space-between;
    }
  }
}
// header`s end
// start the landing
.landing {
  position: relative;
  height: 600px;
  background-image: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  color: $text-color;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > img.landing-background {
    position: absolute;
  }
  > h1 {
    position: relative;
    font-size: 50px;
    font-weight: 500;
    @include break-points(mobile) {
      font-size: 35px;
      text-align: center;
    }
  }
  > p {
    position: relative;
    font: {
      weight: 400;
      size: 16px;
    }
    margin: 30px 0 20px;
    @include break-points(mobile) {
      width: 70%;
      text-align: center;
    }
  }
  > .buttons {
    position: relative;
    margin-top: 20px;
    margin-bottom: -100px;
    button:last-child {
      color: $text-color;
      background-color: transparent;
      border: 1px solid $text-color;
      &:hover {
        color: $CTA-text-color;
        background-color: $text-color;
      }
    }
  }
  @include break-points(mobile) {
    padding: 10px;
  }
}
// landing`s end
// start the design
.design {
  position: relative;
  padding: $section-padding 0;
  overflow: hidden;
  > h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: $section-padding;
    @include break-points(mobile) {
      margin-bottom: $section-padding / 2;
    }
    padding: 0 20px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    .text {
      flex-basis: 50%;
      @include break-points(mobile) {
        flex-basis: 100%;
        order: 2;
      }
      .box {
        padding: 10px;
        p {
          line-height: 2;
          color: #777;
        }
        @include break-points(mobile) {
          text-align: center;
        }
      }
    }
    .img-holder {
      flex-basis: 50%;
      margin-bottom: 50px;
      @include break-points(mobile) {
        flex-basis: 100%;
      }
      img {
        position: absolute;
        top: 5%;
        width: 800px;
        @include break-points(mobile) {
          width: 100%;
          position: relative;
        }
      }
    }
  }
}
// the design section`s end
// start the state section
.state {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #393a58;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 100px;
    z-index: -1;
    @include break-points(mobile) {
      height: 600px;
      top: 60%;
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .background > img {
      position: absolute;
      width: 600px;
      z-index: -1;
      top: -20%;
      left: 2%;
      @include break-points(mobile) {
        display: none;
      }
    }
    .img-holder {
      flex-basis: 48%;
      img {
        max-width: 100%;
      }
      @include break-points(mobile) {
        flex-basis: 100%;
      }
    }
    .text {
      flex-basis: 48%;
      h2 {
        color: $text-color;
        font-weight: 500;
        margin-bottom: 25px;
      }
      p {
        line-height: 2;
        color: $text-color;
      }
      @include break-points(mobile) {
        text-align: center;
        flex-basis: 100%;
      }
    }
  }
  @include break-points(mobile) {
    overflow: visible;
  }
}
// the state section`s end
// start tooling section
.tooling {
  padding: $section-padding 0;
  margin-top: $section-padding;
  .container {
    display: flex;
    flex-wrap: wrap;
    .img-holder {
      flex-basis: 50%;
      position: relative;
      img {
        position: absolute;
        left: -40%;
        top: -35%;
        width: 800px;
        @include break-points(mobile) {
          position: relative;
          left: 0;
          top: 0;
          max-width: 100%;
        }
      }
      @include break-points(mobile) {
        flex-basis: 100%;
      }
    }
    .text {
      flex-basis: 50%;
      margin-top: 30px;
      .box {
        margin-bottom: 50px;
        h3 {
        }
        p {
          line-height: 2;
          color: #777;
        }
        @include break-points(mobile) {
          text-align: center;
        }
      }
      @include break-points(mobile) {
        flex-basis: 100%;
      }
    }
  }
  @include break-points(mobile) {
    margin-top: $section-padding / 2;
  }
}
// the tooling section`s end
// start footer section
footer {
  padding: $section-padding 0;
  background-color: #24242c;
  border-top-right-radius: 100px;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    .box {
      margin-bottom: 20px;
      h4 {
        color: $text-color;
      }
      ul {
        margin-top: 30px;
        li {
          a {
            color: #9c9ca4;
            padding: 10px 0;
            transition: $main-transtion;
            &:hover {
              text-decoration: revert;
              color: white;
            }
          }
        }
      }
      @include break-points(mobile) {
        text-align: center;
      }
    }
  }
}
// footer section`s end
.attribution {
  padding: 15px;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, $headings-color, #24242c);
  > a {
    display: inline-block;
    color: $CTA-hover-background-color;
  }
  > strong {
    color: $CTA-text-color;
  }
}
